<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Python Flask Bucket List App</title>
 
 
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
 
 
</head>
 
<body>
 
    <div class="container">
        <div class="jumbotron">
            <h1>DBMS</h1>
            <p class="lead"></p>
            <p><a class="btn btn-lg btn-success" href="query1" role="button">QUERY1</a>
            </p>
            <p><a class="btn btn-lg btn-success" href="query2" role="button">QUERY2</a>
            </p>
        </div>
 
        
        <footer class="footer">
            <p>&copy; SRIKAR PARUCHURU : 150101044</p>
        </footer>
 
    </div>
</body>
 
</html>