<!DOCTYPE html>
<html lang="en">
  <head>
    <title>QUERY1</title>
 
    
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="../static/signup.css" rel="stylesheet">
    
  </head>
 
  <body>
 
    <div class="container">
      
      <div class="jumbotron">
        <h1>query1</h1>
        <form method="POST" action="/process1">
        <label for="username">Author screen name: </label>
        <input type="text" name="expr"><br>
        <input type="submit" value="SEND">
      </div>
 
       
 
      <footer class="footer">
        <p>&copy; Company 2015</p>
      </footer>
 
    </div>
  </body>
</html>